body{
  text-align: center;
  background-color: black;
  color: white
}

.home-link{
  margin-right: 150px;
}
.about-link{
  margin-left: 150px;
}
.app-logo{
  width: 580px;
  height: 200px;
}
.kanye{
  width: 540px;
  height: 400px;
}
